@model List<Models.Point> 

<div>
  @foreach(Models.Point meldingspunt in Model)
  {
          <div>
              @meldingspunt.Name;<br/>
          </div>
     <div>
         name:   @meldingspunt.Name;  
         uuid:   @meldingspunt.UuId; 
         userid: @meldingspunt.UserId;
     </div> 
      @meldingspunt.Name;
      <br/>
  }
</div>
