@page
@using Dashboardscrum.Repositories;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Dashboardscrum.Models;
@model Dashboardscrum.Pages.Docent.UpdateTeamModel

@inject UserRepository _userRepository
@{
    var loggedIn = _userRepository.IsUserLoggedIn();
}

@if(loggedIn)
{
    <div class="container">
        <div class="row">
            <ul class="list-group">
            @if(Model._applicationUsers != null)
            {
                @foreach(var teamlid in Model._applicationUsers)
                {
                    @if(teamlid.TeamId == Model.TeamId.ToString())
                        {
                            <form method="post">
                                <li class="list-group-item">
                                    <label>@teamlid.UserName</label>
                                <button type="submit" asp-page-handler="DeleteTeamlid" class="btn btn-danger">Verwijder teamlid</button>
                                </li>
                            </form>
                        }
                    }
            }
            <form method="post">
                <input type="hidden" asp-for="ApplicationUser!.TeamId" value="@Model.TeamId"/>
                    <li class="list-group-item">
                        @*<select name="Student" asp-for="ApplicationUser!.Id">*@
                            @foreach (var nietlid in Model._applicationUsers)
                            {
                                @if (nietlid.TeamId != Model.TeamId.ToString())
                                {
                                    <option value="@nietlid.Id">@nietlid.UserName</option>
                                    <h1>@nietlid.Id</h1>
                                }
                            }
                        @*</select>*@
                            <button type="submit" asp-page-handler="UpdateTeam" class="btn btn-primary">Voeg teamlid toe</button>
                        </li>
            </form>
                
            </ul>
        </div>
    </div>
}